<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <resource-ref>
        <description>Employees Database for HR Applications</description>
        <res-ref-name>jdbc/slownews</res-ref-name>
        <res-ref-type>javax.sql.DataSource</res-ref-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>




